* {
  box-sizing: border-box;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
  //padding: 0;
  background-color: lightgrey;
}

.header__title {
  text-align: center;
}

.header__title-text {
  font-size: 3rem;
  font-family: 'Hind Siliguri', sans-serif;
  margin: 0 auto;
  color: black;
  opacity: 0.6;
}

.header__title-subtext {
  font-size: 1.25rem;
  font-family: 'Hind Siliguri', sans-serif;
  margin: 0 auto;
  color: black;
  opacity: 0.5;
}

#panel {
  margin-bottom: 2rem;
  margin-left: 2rem;
  display: inline-block;
}

#address1, #address2 {
  font-size: 1.5rem;
  font-family: 'Hind Siliguri', sans-serif;
  box-shadow: 3px 3px 2px darkgrey;
}

#address2 {
  margin: 0 1rem;
}

.controls {
  display: inline-block;
}

#submit, .tone, .reset, .info {
  color: black;
  opacity: 0.6;
  padding: 0 0.5rem;
  font-size: 2rem;
  font-family: 'Hind Siliguri', sans-serif;
  background-color: azure;
  border: 1px solid azure;
  box-shadow: 3px 3px 2px black;
}

.tone, .reset, .info {
  margin-left: 1rem;
}

.progress-bar {
  height: 20px;
  position: relative;
  background: #555;
  padding: 3px;
  box-shadow: inset 0 -1px 1px black;
}

.progress-bar__content {
  content: ' ';
  width: 0%;
  display: block;
  height: 100%;
  background-color: azure;
  position: relative;
  overflow: hidden;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__content {
  position: fixed;
  top: 50%;
  margin: 0 2rem;
  background-color: gray;
  padding: 20px;

}

.modal__text {
  font-size: 1.5rem;
  font-family: 'Hind Siliguri', sans-serif;
  color: azure;
  opacity: 0.6;
  padding: 0 1rem;
  margin: 0;
}

.modal__text-link, .footer__content-link {
  text-decoration: none;
  color: blue;
  opacity: 0.6;
}

.modal__button {
  color: black;
  opacity: 0.6;
  padding: 0 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  font-size: 1rem;
  font-family: 'Hind Siliguri', sans-serif;
  background-color: azure;
  border: 1px solid azure;
  box-shadow: 3px 3px 2px black;
}

#map {
  height: 25rem;
  width: 100%;
}

.footer {
  margin-top: 0;
  height: 9rem;
  background-color: #555;
}

.footer__content {
  text-align: center;
  padding-top: 4rem;
}

.footer__content-text {
  margin: 2rem auto;
  font-family: 'Hind Siliguri', sans-serif;
}

@media only screen and (max-width: 1040px){
  #panel {
    text-align: center;
    margin-left: 0;
  }
  .controls {
    display: block;
    text-align: center;
    margin-bottom: 0.5rem;
  }
}

@media only screen and (max-width: 768px){
  .header__title-text {
    font-size: 2rem;
  }
  #panel {
    text-align: center;
    margin-left: 0;
    margin-bottom: 0.5rem;
  }
  #address2, #submit {
    margin-top: 0.5rem;
  }
  .controls {
    display: block;
    text-align: center;
    margin-bottom: 0.5rem;
  }
}
