* {
  box-sizing: border-box;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
  //padding: 0;
  background-color: lightgrey;
}

.header__title {
  text-align: center;
}

.header__title-text {
  font-size: 3rem;
  font-family: 'Hind Siliguri', sans-serif;
  margin: 0 auto;
  color: black;
  opacity: 0.6;
}

.header__title-subtext {
  font-size: 2rem;
  font-family: 'Hind Siliguri', sans-serif;
  margin: 0 auto;
  color: black;
  opacity: 0.5;
}

#panel {
  margin-bottom: 2rem;
  margin-left: 2rem;
  display: inline-block;
}

#address1, #address2 {
  font-size: 1.5rem;
  font-family: 'Hind Siliguri', sans-serif;
  box-shadow: 3px 3px 2px darkgrey;
}

#address2 {
  margin: 0 1rem;
}

.controls {
  display: inline-block;
}

#submit, .tone, .reset, .info {
  color: black;
  opacity: 0.6;
  padding: 0 0.5rem;
  font-size: 2rem;
  font-family: 'Hind Siliguri', sans-serif;
  background-color: azure;
  border: 1px solid azure;
  box-shadow: 3px 3px 2px black;
}

.tone, .reset, .info {
  margin-left: 1rem;
}

.progress-bar {
  height: 20px;
  position: relative;
  background: #555;
  padding: 3px;
  box-shadow: inset 0 -1px 1px black;
}

.progress-bar__content {
  content: ' ';
  width: 0%;
  display: block;
  height: 100%;
  background-color: azure;
  position: relative;
  overflow: hidden;
}

.modal__text {
  font-size: 1rem;
  font-family: 'Hind Siliguri', sans-serif;
  color: black;
  opacity: 0.6;
  padding: 0 1rem;
  margin: 0;
}

.modal__text-link, .footer__content-link {
  text-decoration: none;
  color: blue;
  opacity: 0.6;
}

.modal__button {
  color: black;
  opacity: 0.6;
  padding: 0 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  font-size: 1rem;
  font-family: 'Hind Siliguri', sans-serif;
  background-color: azure;
  border: 1px solid azure;
  box-shadow: 3px 3px 2px black;
}

#map {
  height: 25rem;
  width: 100%;
}

.footer {
  margin-top: 0;
  height: 9rem;
  background-color: #555;
}

.footer__content {
  text-align: center;
  padding-top: 4rem;
}

.footer__content-text {
  margin: 2rem auto;
  font-family: 'Hind Siliguri', sans-serif;
}
.routes {
  background-color: azure;
  //margin: 1rem 0.5rem;
}

.routes__choice {
  padding: 1rem 0.5rem;
  font-size: 2rem;
}
